# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3

# Environment variables
.env
.env.*

# Uploaded media
media/

# Node
node_modules/
frontend/node_modules/

# Vite build
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db